section {
    border: 1px solid rgb(0, 38, 255);
    width: 29%;
    float: left;
  }
  
  div {
    margin: 5px;
    width: 50px;
    height: 150px;
  }
  
  .left {
    float: left;
    background: rgb(174, 223, 37);
  }
  
  .right {
    float: right;
    background: rgb(240, 58, 240);
  }